latex/*.aux
latex/*.bcf
latex/*.log
latex/*.nav
latex/*.out
latex/*.pdf
latex/*.run.xml
latex/*.snm
latex/*.synctex.gz
latex/*.toc

# Mac OS files
.DS_Store

# Pycharm files
.idea

# Python-related
venv
**/__pycache__

# VSCode
.vscode

# Generated
results
html

# Snakemake-related
python-snakemake/.snakemake